# MacOS system files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Dataset files
data/*/*

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*

# Python cache
src/__pycache__/*

# transformers checkpoints
notebooks/error_detection/*/*
